<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Birthday remainder</title>
    <link
      rel="stylesheet"
      href="./../public/index.css" />
  </head>
  <body>
    <div class="container">
      <span class="top blue-bgr">🎉</span>
      <form class="birthday-form">
        <label class="birthday-label">
          Set birthday remainder for yourself and loved ones 🎉🎉
        </label>
        <input
          type="text"
          class="birthday-input"
          placeholder="Username"
          required />
        <input
          type="email"
          class="birthday-input"
          placeholder="Emails"
          required />
        <input
          type="date"
          class="birthday-input"
          placeholder="birthday"
          required />
        <button class="birthday-input btn">Set remainder</button>
      </form>
      <span class="bottom blue-bgr">🎉</span>
    </div>
  </body>
</html>
